<section class="section-normal">
    <div class="content row">
        <div class="side col">
            {{#linkTo index}}<div class="registration-logo"></div>{{/linkTo}}
        </div>

        <div class="main col">
            <section class="box-highlight">
                <h1>Thanks for applying, {{model.firstName}}.</h1>
                <p>
                    <strong>In order to complete your bursary application, you'll need to verify your email.</strong>
                    A confirmation email has been sent to the email address you registered with. Click on the link
                    inside to finalize your application. You will hear back on the status of your application before
                    <strong>August 15</strong> via email.
                </p>
                <p>
                    If you don't receive a confirmation email after 24 hours, or you've entered the
                    wrong email address, contact <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a>.
                </p>
            </section>
        </div>
    </div>
</section>
