<section class="section-normal">
    <div class="content row">
        <div class="side col">
            {{#linkTo index}}<div class="registration-logo"></div>{{/linkTo}}
            <section class="box-clear">
                <h2>Why register?</h2>
                <ul class="registration-side">
                    <li>Access to <strong>ALL</strong> events.</li>
                    <li>A standard issue F!rosh Kit with tons of cool stuff.</li>
                    <li>Free lunch and dinner on Monday and Tuesday.</li>
                    <li>One free Skule yearbook at the end of the year ($20 value).</li>
                </ul>
            </section>
        </div>

        <div class="main col">
            <section class="box-normal">
                <h1>
                    Register online!
                    <span class="subtitle">Early Bird: <span class="red">20% off</span> until August 15!</span>
                </h1>
                {{#each model}}
                    <div class="registration-item">
                        <h3>
                            {{#linkTo registration.item this}}
                                {{name}} <strong>${{price}}</strong>
                            {{/linkTo}}
                        </h3>
                        <p>
                            {{description}}
                        </p>
                    </div>
                {{/each}}
            </section>
        </div>
    </div>
</section>
