<section class="section content row">
    <div class="side col">
        {{#linkTo 'index'}}<div class="registration-logo"></div>{{/linkTo}}
        <section class="box">
            <h2>Why register?</h2>
            <ul class="registration-side">
                <li>Access to <strong>ALL</strong> events except Hart House Farm.</li>
                <li>An incredible F!rosh Kit with tons of cool stuff.</li>
                <li>Free lunch and dinner on Monday, Tuesday, and Wednesday.</li>
                <li>One free Skule&trade; yearbook at the end of the year ($20 value).</li>
            </ul>
        </section>
    </div>

    <div class="main col">
        <section class="box normal">
            <h1>
                <i class="icon-ticket"></i> Register online!
                <span class="subtitle">Early Bird pricing in effect! Prices go up <span class="red">$20</span> on August 15, so register early!</span>
            </h1>
            {{#each model}}
                {{#linkTo 'registration.item' this}}
                    <div class="registration-item">
                            <h3>
                                <strong>${{price}}</strong> {{name}}
                            </h3>
                            <p>
                                {{description}}
                            </p>
                    </div>
                {{/linkTo}}
            {{/each}}
        </section>
    </div>
</section>
