<section class="section">
    <div class="content row">
        <div class="side col">
            {{#linkTo 'index'}}<div class="registration-logo"></div>{{/linkTo}}
        </div>

        <div class="main col">
            <div class="box highlight">
                You're about to register for...
                <h1>{{model.name}} Package - $<strong>{{model.price}}</strong></h1>
                <div class="align-right">
                    <button {{action cancel}}>&lt; Change Kit</button>
                </div>
            </div>
        </div>
    </div>
</section>

{{render user}}
