<div class="box normal">
    <h1><i class="icon-bar-chart"></i> Dashboard</h1>
    <p>
        Today is Friday, July 26, 2013. There are 9 new registrations today.
    </p>

    <section>
        <h2>Users</h2>
        <p>
            Display user overview information:
        </p>
        <ul>
            <li>total registrants by day (graph)</li>
            <li>pie chart - bursary (stacked line graph instead of pie chart)</li>
        </ul>
        <p>
            space
        </p>
    </section>

    <section>
        <h2>Frosh Groups</h2>
        <p>
            Display groups overview information:
        </p>
        <ul>
            <li>pie chart of frosh groups</li>
            <li>average girls/guy ratio per frosh group</li>
            <li>average discipline ratio per frosh group</li>
        </ul>
        <p>
            space
        </p>
    </section>

    <section>
        <h2>Frosh Kits</h2>
        <p>
            Display packages overview information:
        </p>
        <ul>
            <li>pie chart of packages</li>
            <li>earnings graph</li>
            <li>owed by bursary amount</li>
        </ul>
        <p>
            space
        </p>
    </section>
</div>
