<div class="box normal">
    <h1>Manual Registration</h1>
    <p>
        Manually register a user. Select a F!rosh kit below.
    </p>
    <p>
        After registering the user, go to {{#linkTo "admin.users"}}overview{{/linkTo}} and refresh the page to
        see the new registrant.
    </p>
    {{view Ember.Select contentBinding=formPackages valueBinding=pkg}}
</div>
<div class="registration">
    {{render user}}
</div>
