<div class="box normal">
    <h1>Manual Registration</h1>
    <p>
        Manually register a user. Select a F!rosh kit below.
    </p>
    <p>
        This page is currently disabled.
    </p>
</div>
<div class="registration">
    {{!--
    {{render user}}
    --}}
</div>
