<div class="registration-info">
  You're about to register for...

  <h2 class="end">{{model.description}} Package - $<strong>{{model.price}}</strong></h2>
  <div class="right-align">
    <button {{action cancel}} class="inline-right-align">&lt; Change Kit</button>
  </div>
</div>

<div class="registration-step">
  <div class="registration-step-num">1</div>
  <h2><strong>Tell us about yourself</strong></h2>
</div>

<div class="registration-step">
  <div class="registration-step-num">2</div>
  <h2><strong>Customize your F!rosh Kit</strong></h2>
</div>

<div class="registration-step">
  <div class="registration-step-num">3</div>
  <h2><strong>Health and safety information</strong></h2>
</div>

<div class="registration-step">
  <div class="registration-step-num">4</div>
  <h2><strong>How will you be paying?</strong></h2>
</div>
