/*
 *= require grid
 */

@import 'partials/variables';

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 60em;
}

#header {
  padding: 1em;
  @media #{$s} { 
    text-align: left;
    margin-bottom: 1em;
  }
  @media #{$m} {
    text-align: center;
    margin-bottom: 1.5em;
  }
  @media #{$l} {
    text-align: center;
    margin-bottom: 2em;
  }
}

#footer {
  @media #{$s} { margin: 1.5em auto; }
  @media #{$m} { margin: 2em auto; }
  @media #{$l} { margin: 2.5em auto; }
}

/* Registration */
#registration-sidebar {
  @media #{$s} { width: 100%; }
  @media #{$m} { width: 40%; }
  @media #{$l} { width: 30%; }
}

#registration-forms {
  @media #{$s} { width: 100%; }
  @media #{$m} { width: 60%; }
  @media #{$l} { width: 70%; }
}

