<div id="footer-links">
  <ul class="grouping horizontal">
    <li>{{#linkTo index}}Home{{/linkTo}}</li>
    <li>{{#linkTo schedule}}Schedule{{/linkTo}}</li>
    <li>{{#linkTo traditions}}Traditions{{/linkTo}}</li>
  </ul>
  <ul class="grouping horizontal">
    <li>{{#linkTo faq}}FAQ{{/linkTo}}</li>
    <li>{{#linkTo groups}}F!rosh Groups{{/linkTo}}</li>
    <li>{{#linkTo sponsors}}Sponsors{{/linkTo}}</li>
  </ul>
  <ul class="grouping horizontal">
    <li>{{#linkTo froshnite}}F!rosh Nite{{/linkTo}}</li>
    <li>{{#linkTo register}}Register{{/linkTo}}</li>
  </ul>
</div>

<div id="footer-meta">
  <p>Skule&trade; and the Skule logo are registered trademarks of the University of Toronto Engineering Society. 
  &copy;2012 University of Toronto Engineering Society. All rights reserved.</p>
</div>
