<div id="header-logo" class="col">
  {{#linkTo index}}<%= image_tag 'logo.png' %>{{/linkTo}}
</div>

<div id="header-nav" class="col">
  <div id="header-engsoc-logo">
    <a href="http://skule.ca"><div id="header-engsoc-logo-img"></div></a>
  </div>

  <div id="header-links">
    <ul class="grouping horizontal">
      <li>{{#linkTo schedule}}Schedule{{/linkTo}}</li>
      <li>{{#linkTo traditions}}Traditions{{/linkTo}}</li>
    </ul>
    <ul class="grouping horizontal">
      <li>{{#linkTo faq}}FAQ{{/linkTo}}</li>
      <li>{{#linkTo groups}}F!rosh Groups{{/linkTo}}</li>
      <li>{{#linkTo sponsors}}Sponsors{{/linkTo}}</li>
    </ul>
    <ul class="grouping horizontal">
      <li>{{#linkTo froshnite}}F!rosh Nite{{/linkTo}}</li>
      <li>{{#linkTo register}}Register{{/linkTo}}</li>
    </ul>
  </div>
</div>
