<div class="container">
  <div id="header" class="row">
    {{partial 'header'}}
    <div class="col"><hr></div>
  </div>

  <div id="content" class="row col">
    {{outlet}}
  </div>

  <div id="footer" class="row col">
    <hr>
    {{partial 'footer'}}
  </div>
</div>
