<div id="footer" class="footer">
    <div class="content row">
        <div class="half col">
            <h2><i class="icon-rocket"></i> Built by engineers.</h2>
            <p>
                The F!rosh Week website was built by:
                <a href="//twitter.com/og">@og</a>,
                <a href="//twitter.com/amandeep">@amandeep</a>,
                <a href="//twitter.com/btotality">@btotality</a>, with happiness, sunshine and lot's of purple.
            </p>
            <p>
                <a href="//blog.orientation.skule.ca/" target="_blank">
                    <i class="icon icon-2x icon-tumblr-sign"></i>
                </a>
                <a href="//twitter.com/FroshWeek" target="_blank">
                    <i class="icon icon-2x icon-twitter-sign"></i>
                </a>
                <a href="//facebook.com/groups/uoft.froshweek.1t3/" target="_blank">
                    <i class="icon icon-2x icon-facebook-sign"></i>
                </a>
            </p>
        </div>
        <div class="half col">
            <a href="http://skule.ca" target="_blank">
                <div class="organization-logo"></div>
            </a>
            <p>
                <strong>University of Toronto Engineering Orientation</strong>
            </p>
            <p>
                B740 Sandford Fleming Building <br>
                10 King's College Road <br>
                Toronto, Ontario, Canada M5S 3G4
            </p>
            <p>
                <a href="http://www.skule.ca">Engineering Society</a> &middot;
                <a href="http://engineering.utoronto.ca">University of Toronto Engineering</a>
            </p>
        </div>
    </div>
    <div class="content row">
        <div class="full col align-right">
            <p class="hidden-links">
                {{#linkTo "admin.index"}}Admin{{/linkTo}}
            </p>
        </div>
    </div>
</div>