<p>
    Welcome to F!rosh Week 1T2!

    University of Toronto's Engineering Orientation September 3-9, 2012
    Hey there incoming class of 1T6! We (the Orientation team, see photo below), can't wait to meet you! This is our big welcome week, planned just for you! We'll show you what Engineering at the University of Toronto is all about. We affectionately refer to our program as Skule™ and we are one of the best engineering schools in Canada as well as one the most tight-knit and spirited faculties at U of T!

    We encourage you to register and come out to Orientation Week 1T2 and meet your fellow F!rosh, leedurs and we'll show you what Skule™ has to offer! Welcome to our community! Welcome to Skule™!

    F!roshly,
    -Maegan
    F!rosh Week 1T2 Chair
    University of Toronto Engineering Society
</p>


<p>
    What's F!rosh Week, anyways?

    F!rosh Week for YOU will be an introduction to Engineering, the University, and the City of Toronto. Upper year students leedurs have planned out activities that will be enjoyable and useful for you. It is simply the best time of your life, which you will cherish forever.

    When you ask leedurs about F!rosh Week, the first word that comes out of their mouth is "awesome" followed by "-est time of the year". If the leedurs enjoy it THIS much, F!rosh I guarantee that you will like it 10 times more than them!

    F!rosh Week is about starting life away from home, meeting new friends, enjoying your first week of Engineering, and making the most out of your University life! Since you are coming to University of Toronto Engineering, you have the opportunity to attend the best F!rosh Week in Canada!

    Join your fellow 1T6's on Facebook!

    Follow us on Twitter @Skule_FroshWeek!

    #F!Week1T2
</p>
