<div class="home">
    <section class="home-banner">
        <div class="home-logo-wrapper">
            {{#linkTo registration.index}}<div class="home-logo"></div>{{/linkTo}}
        </div>
    </section>

    <section class="section-alt">
        <div class="content row">
            <div class="side col">
                <h1>F!rosh Week 1T3 <span class="subtitle">U of T Engineering's Orientation Week</span></h1>
                <ul>
                    <li><strong>WHEN:</strong> September 2 - 8, 2013</li>
                    <li><strong>WHERE:</strong> St. George Campus</li>
                    <li><strong>WHO:</strong> Over 1000 F!rosh</li>
                    <li><strong>WHY:</strong> Because it's awesome.</li>
                </ul>
            </div>
            <div class="main col">
                Image/Video here.
            </div>
        </div>
    </section>

    <section class="section-normal">
        <div class="content row">
            <div class="side float-right col">
                asdf
            </div>
            <div class="main col">
                <h1>This is <strong>not</strong> just your first week of engineering.</h1>
            </div>
        </div>
    </section>

    <section class="section-normal">
        <div class="content row">
            <div class="side col">
                <h1>The best week of your life.</h1>
                <ul>
                    <li>Join us for a week of fun.</li>
                    <li>Meet your fellow friends in engineering.</li>
                    <li>Have unforgettable stories after.</li>
                </ul>
            </div>
            <div class="main col">
                <h1><strong>This is your epic introduction to university life.</strong></h1>
            </div>
        </div>
    </section>

    <section class="section-highlight">
        <div class="content row">
            <div class="full col">
                <h1>Register Your F!rosh Kit Today</h1>
                {{#linkTo registration.index}}
                    <button class="go">Sign Up!</button>
                {{/linkTo}}
            </div>
        </div>
    </section>
</div>
