<div class="none">
    <section class="section">
        <div class="content row">
            <div class="full col">
                <h1>Oops! This page seems to have disappeared.</h1>
                <p>Is this a mistake? <a href="mailto:support@orientation.skule.ca">Let us know.</a></p>
                <img class="none-logo" src="/assets/logo-large.png">
            </div>
        </div>
    </section>
</div>
