<div id="registration-sidebar" class="registration-sidebar col">
    {{#linkTo index}}<div class="logo"></div>{{/linkTo}}
</div>

<div id="registration-main" class="registration-main col">
    <!-- TODO(johnliu): make two outlets, one for sidebar as well -->
    {{outlet}}
</div>
