<div id="registration-sidebar" class="col">
  {{#linkTo index}}<div id="logo"></div>{{/linkTo}}
</div>

<div id="registration-main" class="col">
  <!-- TODO(johnliu): make two outlets, one for sidebar as well -->
  {{outlet}}
</div>
