<div id="registration-sidebar" class="col">
  {{#linkTo 'index'}}<div id="logo"></div>{{/linkTo}}
</div>

<div id="registration-forms" class="col">
  <div class="registration-info">
    You're about to register for...
    <h3>F!rosh Kit Early Bird + Hart House Farm + Commuter</h3>
    <h3>Program Package $205</h3>
  </div>
  <div class="registration-step">
    <div class="registration-bubble">1</div>
    <p>
      Tell us about your self!
    </p>

    <p>
      lol
    </p>
  </div>
  <div class="registration-step">
    <div class="registration-bubble">2</div>
    B
  </div>
  <div class="registration-step">
    <div class="registration-bubble">3</div>
    C
  </div>
</div>
