
    <div class="side_gallery float-left">
        <div class="chevron-wrapper float-left">
            <i class="icon-chevron-left icon-2x"></i>
        </div>
    </div>
    <div class="main_gallery">
        <img src="/assets/_DSC0498-X2.jpg">
    </div>
    <div class="side_gallery float-right">
        <div class="chevron-wrapper float-right">
            <i class="icon-chevron-right icon-2x"></i>
        </div>
    </div>
