<div {{action click}} class="spaced schedule">
    <section class="section">
        <div class="content row">
            <div class="side col">
                {{#linkTo 'index'}}<div class="registration-logo"></div>{{/linkTo}}
            </div>
            <!--div {{action "showGallery"}}>click me</div-->
            <div class="main col">
                <section class="box normal">
                    <h1><i class="icon-calender"></i> Events & Schedule</h1>
                    <p>Mark your calendars! <strong>This is your week.</strong></p>
                    <p>
                        Admission to F!rosh Week includes all access to the events listed below, and a F!rosh Kit with
                        tons of awesome swag!
                    </p>
                    <!--p>
                        We'll have more details on each event (and the Kits) for you as we get closer and closer to
                        F!rosh. Stay tuned and more importantly stay HYPED!!!!!!
                    </p-->
                    <h5 style="text-align:center; color:green;">* Click on each event box for details *</h5>
                    <!--div class="event_title">
                        <h2><strong>Hart House Farm Retreat</strong></h2>
                        <hr>
                    </div>
                    <div class="event_short_detail">
                        <div class="heading">
                            <b>Date:</b>
                        </div>
                        <div class="detail">
                            Sept 12-13
                        </div>
                    </div>
                    <div class="event_short_detail">
                        <div class="heading">
                            Location:
                        </div>
                        <div class="detail">
                            Hart House Farm (15911, Terra Cotta)
                        </div>
                    </div>
                    <div class="event_short_detail">
                        <div class="heading">
                            Logistics:
                        </div>
                        <div class="detail">
                            <div class="day"><i>Sat.</i></div>
                            <div class="time_detail">
                                10:45am: Meet at the pit<br>
                                11:30am: Buses leave campus<br>
                                1:15pm: Arrive at HHF<br>

                            </div>
                            <div class="day"><i>Sun.</i></div>
                            <div class="time_detail">
                                2:00pm: Back at the pit
                            </div>
                        </div>
                    </div>
                    <div class="event_short_detail">
                        <div class="heading">
                            What's provided:
                        </div>
                        <div class="detail">
                            Food -> &infin;
                        </div>
                    </div>
                    <div class="event_short_detail">
                        <div class="heading">
                            What to bring:
                        </div>
                        <div class="detail">
                            <ul>
                                <li> Warm clothes</li>
                                <li> Clothes for hot weather </li>
                                <li> Sleeping bag/blanket (and pillow) </li>
                                <li> Bathing suit and towel </li>
                                <li> Flashlight, Bug Spray, Sunscreen </li>
                                <li> Tent if you have one </li>
                            </ul>
                        </div>
                    </div-->
                </section>
            </div>
        </div>

        <div class="content row">

            <div class="full col">
                <section class="box normal">
                    <div class="week row">
                        <!--Sept 3 -->
                        <div class="seventh day col">
                            <h2>Mon <span class="subtitle">Sept 3</span></h2>

                            {{#view App.ScheduleEventView}}
                                <div class="slot two-hr skule-event size-4" data-time="7:00 am" data-location="Front Campus">
                                    Arrival & Registration
                                    <div class="details">
                                        <p>
                                            Your big day begins at Front Campus. Grab your F!rosh Kit and
                                            get to know your F!rosh Group!
                                        </p>
                                        <p>
                                            Please arrive before 8:30 am to get time to register and meet your F!rosh
                                            group!
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                                <div class="slot two-hr skule-event size-4" data-time="9:00 am" data-location="TBD">
                                    Matriculation
                                    <div class="details">
                                        <p>
                                            This is your official introduction to U of T Engineering. Find out what
                                            Skule&trade; has to offer you and take your first oath toward
                                            engineering-dom!
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                                <div class="slot four-hr half-hr skule-event size-6" data-time="11:00 am" data-location="Various Locations on Campus">
                                    Campus Tours + Dye Station + Lunch
                                    <div class="details">
                                        <p>
                                            Here, we will give you a whirlwind tour of where you'll be spending the next couple years of your life. From the best spots to study, to the spots you thought you would study but never really do, we cover it all.
                                        </p>
                                        <p>
                                            In addition to this tour, you will participate in the time-honoured tradition of getting dyed purple with the rest of your F!rosh group! Dyeing purple is a lot of fun and we totally recommend you try it! That said it is entirely up to you how purple you want to get, if at all. Find out more about this amazing experience and what it will be like by asking your Leedurs, or by seeing our FAQ page from the top and other resources.
                                        </p>
                                        <p>
                                            Lunch Menu: Halal Chicken or Falafel with rice"
                                        </p>
                                    </div>
                                </div>
                            {{/view}}


                            {{#view App.ScheduleEventView}}
                                <div class="slot two-hr half-hr skule-event size-4" data-time="3:30 pm" data-location="All around Toronto!">
                                    Downtown Walkaround
                                    <div class="details">
                                        <p>
                                            Any good spy knows their way around the mission site, and Downtown Walkaround is the Most Hype tour of Toronto probably ever. We'll stakeout key locations around the city and spread tons of Skule spirit.
                                        </p>
                                        <p>
                                          <strong> Latest intel: </strong> Prepare to get wet!!!
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                                <div class="slot one-hr skule-event size-1" data-time="6:00 pm" data-location="Bahen Centre for Information Technology">
                                    Dinner
                                    <div class="details">
                                        <p>
                                            Pizza time!
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                                <div class="slot four-hr skule-event size-7" data-time="7:00 pm" data-location="Sandford Fleming Atrium a.k.a. The Pit!">
                                  Tropical SUDS <br> + <br> Smash Bros Tourney <br> + <br> Food Trucks
                                    <div class="details">
                                        <p>
                                            <strong> Tropical Suds (sponsored by EWB): </strong> Bring your tiki and hula on over for some Tropical Fun... prepare to party like a pineapple in mini games such as hula, limbo and get a feel for featured Hawaiian fashion.
                                        </p>
                                        <p>
                                            <strong> Smash Bros Tourney: </strong> The Skule Smash Club is holding a free-to-enter bracket for F!rosh of all skill levels! Controllers will be provided just bring your smash game!!
                                        </p>
                                        <p>
                                            <strong> Food Trucks: </strong> Bring some monies $$$ to have the chance to purchase food from these 4 AMAZING food trucks: Funnel Cakes, What a Jerk, Crazy Burrito and the Great Canadian Food Truck.
                                        </p>
                                    </div>
                                </div>
                            {{/view}}
                        </div>
                        <!--Sept 4 -->
                        <div class="seventh day col">
                            <h2>Tue <span class="subtitle">Sept 4</span></h2>

                            <div class="slot three-hr spacer-event"></div>

                            {{#view App.ScheduleEventView}}
                                <div class="slot one-hr eeat-event size-4" data-time="10:00 am" data-location="Bahen Centre for Information Technology">
                                    Engineering Entrance Seminar
                                    <div class="details">
                                        <p>
                                            The Engineering Entrance Seminar (EES) is a mandatory one hour lecture that details your academic timeline, as well as the various resources that are available to you.
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                                <div class="slot four-hr half-hr skule-event size-4" data-time="11:00 am" data-location="Front Campus, Sandford Fleming Building, Bahen Centre for Information Technology">
                                    Mission ImF!roshable
                                    <div class="details">
                                        <p>
                                            Your mission, should you choose to accept, is to be super stealthy and HYPE in order to out-spy other F!rosh groups you encounter during this series of games. Do you have what it takes to complete Mission ImF!roshable? Who knows, you might even meet some allies on the way...
                                        </p>
                                    </div>
                                </div>
                            {{/view}}
                            <!--
                            {{#view App.ScheduleEventView}}
                                <div class="slot one-hr half-hr skule-event size-4" data-time="2:30 pm" data-location="Front Campus, Sandford Fleming Building, Bahen Centre for Information Technology">
                                    BBQ Lunch
                                    <div class="details">
                                        <p>
                                            Lunch Menu: BBQ burgers (with veggie option) and hot dogs
                                        </p>
                                    </div>
                                </div>
                            {{/view}}
                          -->
                            {{#view App.ScheduleEventView}}
                                <div class="slot one-hr half-hr skule-event size-4" data-time="3:30 pm" data-location="Bahen Centre for Information Technology">
                                    Charity
                                    <div class="details">
                                        <p>
                                          Come out and show some community love by giving back to grassroots charitable organizations. Build some awesome in-kind donations that will be going towards Stella's Place.
                                        </p>
                                        <p>
                                            Be sure to come prepared with plenty of engineering spirit as we make this charity event the most memorable one yet!
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                                <div class="slot half-hr skule-event size-4" data-time="5:00 pm" data-location="Bahen Centre for Information Technology">
                                    Cheer-Off
                                    <div class="details">
                                        <p>
                                          --
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                                <div class="slot four-hr half-hr skule-event size-6" data-time="5:30 pm" data-location="Sandford Fleming Atrium a.k.a. The Pit!">
                                    Glow Party SUDS <br> + <br> Spark / Blue & Gold Events <br> + <br> VR Truck
                                    <div class="details">
                                      <p>
                                          <strong> Glow Party Suds (sponsored by YNCN): </strong> Come to SUDS wearing some bright clothes and you will GLOW under the blacklights of SUDS! Everyone will receive coloured glow sticks according to your discipline to help get to know other F!rosh and Upper Years.
                                      </p>
                                      <p>
                                          <strong> Spark Design Club Events: </strong> Didn’t get a chance to visit Infinite Kusama at the Art Gallery of Ontario (AGO)? Join the SPARK Design Club in recreating an amazing Infinity-mirror room!
                                      </p>
                                      <p>
                                          <strong> Blue & Gold Event: </strong> TBD
                                      </p>
                                      <p>
                                          <strong> VR Truck: </strong> Experience an incredible night of virtual reality inside our sponsored VR room.
                                      </p>
                                      <p>
                                          <strong> YNCN: </strong> TBD
                                      </p>
                                    </div>
                                </div>
                            {{/view}}

                        </div>
                        <!--Sept 5 -->
                        <div class="seventh day col">

                            <h2>Wed <span class="subtitle">Sept 5</span></h2>


                            <div class="slot three-hr spacer-event"></div>
                            {{#view App.ScheduleEventView}}
                                <div  class="slot two-hr faculty-event size-4" data-time="10:00 am" data-location="Engineering Buildings (TBD)">
                                    Academic Orientation
                                    <div class="details">
                                        <p>
                                            Come to meet your professors and listen to your instructors talk about what you'll see in your engineering education. Ask them questions on how to improve and make the most out of your academic experience here at UofT! They don't bite!
                                        </p>
                                    </div>
                                </div>
                            {{/view}}
                            {{#view App.ScheduleEventView}}
                                <div class="slot two-hr faculty-event size-2" data-time="12:00 pm" data-location="Engineering Buildings (TBD)">
                                    Department Lunches
                                    <div class="details">
                                        <p>
                                            Get to know your own department and enjoy free lunch. Upper years and faculty members will also be attending to give you some valuable advice for your university life here
                                        </p>
                                    </div>
                                </div>
                            {{/view}}
                            {{#view App.ScheduleEventView}}
                                {{#view App.ScheduleEventView}}

                                <div class="slot two-hr external-event size-max" data-time="2:00 pm" data-location="Bahen Centre for Information Technology">
                                    Engineering Clubs Fair
                                    <div class="details">
                                        <h4> Engineering Clubs Fair: </h4>
                                        <p>
                                            Skule™ truly has something for everyone, including a wide assortment of undergraduate Engineering Clubs. Feeling high tech? Or are you on a mission to make the world better? At Skule™, there's a club for that.
                                        </p>
                                        <p>
                                            This clubs fair has all the clubs that are organized by or designed for engineering students.
                                        </p>
                                      <!--
                                        <h4> UTSU Clubs Carnival: </h4>
                                        <p>
                                            Want to get involved in UofT clubs not all focused on Engineering? This clubs fair showcases the wide variety of clubs the UofT has to offer, organized by non-engineering students.
                                        </p>
                                      -->
                                    </div>
                                </div>

                                {{/view}}
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                                <div class="slot one-hr external-event size-2" data-time="4:00 pm" data-location="Engineering Buildings (TBD)">
                                    Skule&trade; Nite 101
                                    <div class="details">
                                        <p>
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                                <div class="slot two-hr external-event size-5" data-time="5:00 pm" data-location="Engineering Buildings (TBD)">
                                    Discipline Activities + Dinner
                                    <div class="details">
                                        <p>
                                            Discipline Clubs represent your engineering program, plan social events for
                                            your program, and are an opportunity to get involved within Skule Life.
                                            Meet your Discipline Clubs get some advice and see your common room!
                                        </p>
                                        <p>
                                            The Discipline Clubs will host their students in their common rooms except for the following clubs:
                                        </p>
                                        <ul>
                                            <li>Engineering Science - BA 1160</li>
                                            <li>Electrical and Computer Engineering - BA 1120</li>
                                            <li>Mechanical Engineering - MB 128</li>
                                        </ul>
                                    </div>
                                </div>
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                                <div class="slot four-hr skule-event size-5" data-time="7:00 pm" data-location="Sandford Fleming Atrium a.k.a. The Pit!">
                                    Havenger Scunt!
                                    <div class="details">
                                        <p>
                                            Nope, you didn't read that wrong. That is what we call our F!rosh Week scavenger hunt. But beware! This is not your average scavenger hunt. From eating cloves of raw garlic to getting the mayor of Toronto to officially endorse the Engineering Havenger Scunt, craziness of all sorts have made the list. You won't believe the things that happen at this event!
                                        </p>
                                    </div>
                                </div>
                            {{/view}}
                        </div>
                        <!--Sept 6 -->
                        <div class="seventh day col">
                            <h2>Thur <span class="subtitle">Sept 6</span></h2>

                            <div class="slot two-hr spacer-event"></div>

                            {{#view App.ScheduleEventView}}
                                <div class="slot seven-hr half-hr faculty-event size-6" data-time="9:00 am" data-location="Schedule provided on ACORN over summer">
                                    Class
                                    <div class="details">
                                        <p>
                                            I can already hear you booing. But class is important! And you don't want
                                            to miss your first lectures.
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                                <div class="slot two-hr external-event size-3" data-time="4:00 pm" data-location="King's College Road">
                                    Blue & Gold Bed Races
                                    <div class="details">
                                        <p>
                                            Use whatever you have to build a vehicle that resembles something you can
                                            sleep on. Then race against the other colleges to defend the engineering
                                            honour!
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                           {{#view App.ScheduleEventView}}
                                <div class="slot two-hr external-event size-6" data-time="6:00 pm" data-location="Sandford Fleming Atrium a.k.a. The Pit!">
                                    Dance Battle ft. NSBE & SDC!
                                    <div class="details">
                                        <p>
                                            Join the National Society of Black Engineers and Skule Dance Club for the school's biggest dance competition of the year! 14 dancers, three place winners, and one PIT, making for an epic dance showdown!
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                            {{#view App.ScheduleEventView}}
                            <div class="slot two-hr half-hr skule-event size-3" data-time="8:00 pm" data-location="Sandford Fleming Atrium a.k.a. The Pit!">
                                  SUDS <br> + <br> Spy Themed Movie Marathon & Trivia
                                <div class="details">
                                    <p>
                                        Come chill and watch some movies with your fellow froshies! (Popcorn and snacks will be provided). Get your spy trivia on and win some fun prizes ;)
                                    </p>
                                </div>
                            </div>
                            {{/view}}

                        </div>
                        <!--Sept 7 -->
                        <div class="seventh day col">
                            <h2>Fri <span class="subtitle">Sept 7</span></h2>

                            <div class="slot two-hr spacer-event"></div>

                            {{#view App.ScheduleEventView}}
                                <div class="slot seven-hr half-hr faculty-event size-6" data-time="9:00 am" data-location="Schedule Provided On ACORN over Summer">
                                    Class
                                    <div class="details">
                                        <p>
                                            I can already hear you booing. But class is important! And you don't want to
                                            miss your first lectures.
                                        </p>
                                    </div>
                                </div>
                            {{/view}}

                            <!--{{#view App.ScheduleEventView}}
                                <div class="slot six-hr external-event size-6" data-time="6:00 pm" data-location="Sandford Fleming Atrium a.k.a. The Pit!">
                                    Alumni Suds!
                                    <div class="details">
                                        <p>
                                            Yay! A break in the schedule! Why not go to Suds? It's a social event that takes place in the Sandford Fleming atrium. Chill with your new classmates and meet some upper year engineers too.
                                        </p>
                                    </div>
                                </div>
                            {{/view}}-->
                            {{#view App.ScheduleEventView}}
                            <div class="slot six-hr half-hr skule-event size-3" data-time="4:30 pm" data-location="Sandford Fleming Atrium a.k.a. The Pit!">
                                TOP SECRET SUDS
                                <div class="details">
                                    <p>
                                        Come join us on the last night of FROSH week at our fav location, SUDS!
                                    </p>
                                </div>
                            </div>
                            {{/view}}
                        </div>
                        <!--Sept 8 -->
                        <div class="seventh day col">
                            <h2>Sat <span class="subtitle">Sept 8</span></h2>

                            <div class="slot two-hr half-hr spacer-event"></div>

                            {{#view App.ScheduleEventView}}
                                <div class="slot thirteen-hr half-hr skule-event size-7" data-time="10:00 am" data-location="Hart House Farm">
                                    Frosh Retreat
                                    <div class="details">
                                        <p>
                                            Definitely the coolest way to end F!rosh week. This is an overnight camping trip to the legendary Hart House Farm near Caledon (about two hours away from U of T). Bring a sleeping bag and a tent if you have one, or make friends with someone who does when you get there.
                                        </p>
                                        <p>
                                            Play sports, go swimming, watch a movie, hang out with your friends by a camp-fire, or just enjoy the great outdoors. It's all there at Hart House Farm!
                                        </p>
                                        <p>
                                            This is a great way to relax before the busy school year starts and and a place where memories are definitely made.
                                        </p>
                                        <p>
                                            This is an optional event requiring additional admission of $40. If you would like to attend, please register for a F!rosh Kit package with the Hart House Farm addon!
                                        </p>
                                    </div>
                                </div>
                            {{/view}}
                        </div>
                        <!--Sept 9 -->
                        <div class="seventh day col">
                            <h2>Sun <span class="subtitle">Sept 9</span></h2>

                            {{#view App.ScheduleEventView}}
                                <div class="slot seven-hr half-hr skule-event size-7" data-time="6:00 am" data-location="Hart House Farm">
                                    Frosh Retreat
                                    <div class="details">
                                        <p>
                                            Definitely the coolest way to end F!rosh week. This is an overnight camping trip to the legendary Hart House Farm near Caledon (about two hours away from U of T). Bring a sleeping bag and a tent if you have one, or make friends with someone who does when you get there.
                                        </p>
                                        <p>
                                            Play sports, go swimming, watch a movie, hang out with your friends by a camp-fire, or just enjoy the great outdoors. It's all there at Hart House Farm!
                                        </p>
                                        <p>
                                            This is a great way to relax before the busy school year starts and and a place where memories are definitely made.
                                        </p>
                                        <p>
                                            This is an optional event requiring additional admission of $40. If you would like to attend, please register for a F!rosh Kit package with the Hart House Farm addon!
                                        </p>
                                    </div>
                                </div>
                            {{/view}}
                        </div>
                    </div>

                    <div class="row legend">
                        <div class="third col element">
                            <div class="element-color skule-event"> </div>
                            <span class="element-label">Orientation Events</span>
                        </div>
                        <div class="third col element">
                            <div class="element-color faculty-event"> </div>
                            <span class="element-label">Faculty Events</span>
                        </div>
                        <div class="third col element">
                            <div class="element-color external-event"> </div>
                            <span class="element-label">External Events</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
{{view App.ScheduleGalleryView viewName="galleryView"}}
