<div class="home">
    <section class="section normal subheader">
        <div class="content row">
            <div class="third col home-logo"></div>
            <div class="third col subheader-text">
                <p>
                  <h2>
                      U of T Engineering's Orientation Week <br>
                      <strong>September 3 - 9 </strong>
                  </h2>
            </div>
            <div class="third col subheader-text">
                <h3><strong>#IsItFroshWeekYet</strong></h3>
            </div>
        </div>
    </section>

    <section class="section highlight small-spacer">
    </section>

    <section class="section home-banner">
        <div class="mini-content row">
            <div class="full col">
                <div class="box normal home-message">
                    <h1>Enter Code Here:</h1><br>

                    <script id="test" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.youtube.com"> Test Link </a>
                    </script>

                    <script id="alpha" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/MyPRIuTDy3M?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/alpha.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="beta" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/9xYPwxCLRzI?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/beta.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="chi" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/fDEsC68-C0I?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/chi.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="delta" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/q8TIqKWq05E?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/delta.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="gamma" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/oV1ybPqpd6A?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/delta.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="kappa" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/1XEgegdNaIk?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/kappa.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="lambda" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/0qs0rxVIhcM?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/lambda.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="ni" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/fs44rh-6QYo?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/ni.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="omega" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/LVXMeVUt860?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/omega.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="omicron" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/0hEdnVl4EIw?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/omicron.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="phi" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/bwJF_GpX3dg?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/lambda.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="pi" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/d_E88npNSXI?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/pi.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="psi" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/ZnMFUXoqLH0?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/psi.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="rho" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/7mNGVdKFgAs?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/rho.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="sigma" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/X8U6Bau9oEE?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/sigma.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="tau" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/pwFLCchxCws?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/tau.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="theta" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/koOM0Hihn2k?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/theta.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <script id="zeta" type="text/html">
                        <h1> <strong> Important !!! </strong> Watch the video with care: </h1>
                        <iframe sandbox="" width="614" height="345" src="https://www.youtube.com/embed/606aSaZC7Bo?autoplay=1&showinfo=0&controls=0">
                        </iframe>
                        <br> <a href="https://www.facebook.com/groups/zeta.1t8/"> <code> Secret Link ;) </a>
                    </script>

                    <form action="#" id="codeForm">
                       <input type="text" name="code" id="code" style="text-align:center;" placeholder="S E C R E T  C O D E"><br>
                       <br>

                       <div class="action-button">
                         <button class="highlight" onclick="checkCode();">
                           <strong> Submit </strong>
                         </button>
                       </div>
                       <br>
                    </form>
                    <script>
                      //submit the form
                      $( "#codeForm" ).submit(function( event ) {
                        event.preventDefault();
                        var code;
                        code = document.getElementById('code').value;

                        // add all the secret codes below
                        if(code == 'ABCDEF'){
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('test').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                        }
                          //ALPHA
                        if(code == 'GODIVAGODIVAGODIVA'){
                          //window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('alpha').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //BETA
                        }else if (code == 'ULTIMATE_FROSH') {
                          //window.location.href = "https://www.youtube.com/watch?v=kJQP7kiw5Fk";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('beta').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //CHI
                        }else if (code == 'TOIKE_OIKE') {
                          //window.location.href = "https://www.youtube.com/watch?v=4zLfCnGVeL4";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('chi').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //DELTA
                        }else if (code == 'SOLAR_CAR') {
                          //window.location.href = "https://www.youtube.com/watch?v=pRpeEdMmmQ0";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('delta').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //GAMMA
                        }else if (code == 'ENGSOC') {
                          //window.location.href = "https://www.youtube.com/watch?v=IcrbM1l_BoI";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('gamma').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //KAPPA
                        }else if (code == 'SATELLITE_DESIGN') {
                          //window.location.href = "https://www.youtube.com/watch?v=v--IqqusnNQ";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('kappa').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //LAMBDA
                        }else if (code == 'FROSH_HANDBOOK') {
                          //window.location.href = "https://www.youtube.com/watch?v=JGwWNGJdvx8";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('lambda').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //NI
                        }else if (code == 'RUREADYTODYE') {
                          //window.location.href = "https://www.youtube.com/watch?v=RgKAFK5djSk";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('ni').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //OMEGA
                        }else if (code == 'S_U_D_S') {
                          //window.location.href = "https://www.youtube.com/watch?v=_Yhyp-_hX2s";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('omega').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //OMICRON
                        }else if (code == 'EAA_SPORTS') {
                          //window.location.href = "https://www.youtube.com/watch?v=hLQl3WQQoQ0";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('omicron').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //PHI
                        }else if (code == 'HARDHAT<3') {
                          //window.location.href = "https://www.youtube.com/watch?v=vx2u5uUu3DE";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('phi').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //PI
                        }else if (code == 'MR_B&G') {
                          //window.location.href = "https://www.youtube.com/watch?v=FTQbiNvZqaY";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('pi').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //PSI
                        }else if (code == 'SKULE_CANNON_TM') {
                          //window.location.href = "https://www.youtube.com/watch?v=djV11Xbc914";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('psi').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //RHO
                        }else if (code == 'IRON_RING') {
                          //window.location.href = "https://www.youtube.com/watch?v=I_izvAbhExY";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('rho').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //SIGMA
                        }else if (code == 'LADY_GODIVA_MEMORIAL_BNAD') {
                          //window.location.href = "https://www.youtube.com/watch?v=SYnVYJDxu2Q";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('sigma').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //TAU
                        }else if (code == 'S_K_U_L_E') {
                          //window.location.href = "https://www.youtube.com/watch?v=btPJPFnesV4";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('tau').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //THETA
                        }else if (code == 'ROCK_OF_AJAX') {
                          //window.location.href = "https://www.youtube.com/watch?v=-tJYN-eG1zk";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('theta').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                          //ZETA
                        }else if (code == 'HARDHATCAFE') {
                          //window.location.href = "https://www.youtube.com/watch?v=bx1Bh8ZvH84";
                          var div = document.createElement('div');
                          div.setAttribute('class', 'someClass');
                          div.innerHTML = document.getElementById('zeta').innerHTML;
                          document.getElementById('targetElement').appendChild(div);
                        }
                    });
                    </script>
                </div>
            </div>
        </div>
    </section>
    <section class="section home-reasons">
        <div class="content row">
          <div id="targetElement" style="text-align:center;">
          </div>
        </div>
      </section>
</div>

{{view App.IndexSecretVideoView viewName="videoView"}}
