<div class="home">
    <section class="section normal subheader">
        <div class="content row">
            <div class="third col home-logo"></div>
            <div class="third col subheader-text">
                <p>
                  <h2>
                      U of T Engineering's Orientation Week <br>
                      <strong>September 3 - 9 </strong>
                  </h2>
            </div>
            <div class="third col subheader-text">
                <h3><strong>#IsItFroshWeekYet</strong></h3>
            </div>
        </div>
    </section>

    <section class="section highlight small-spacer">
    </section>

    <section class="section home-banner">
        <div class="mini-content row">
            <div class="full col">
                <div class="box normal home-message">
                    <h1>Enter Code Here and <strong> CLICK </strong> to continue:</h1><br>
                    <script>
                      function checkCode(){
                          var code;
                          code = document.getElementById('code').value;

                          // add all the secret codes below
                          if(code == 'ABCDEF'){
                            window.location.href = "https://www.youtube.com";
                          }
                            //ALPHA
                          if(code == 'GODIVAGODIVAGODIVA'){
                            window.location.href = "https://youtu.be/MyPRIuTDy3M";
                            //BETA
                          }else if (code == 'ULTIMATE_FROSH') {
                            window.location.href = "https://youtu.be/9xYPwxCLRzI";
                            //CHI
                          }else if (code == 'TOIKE_OIKE') {
                            window.location.href = "https://youtu.be/fDEsC68-C0I";
                            //DELTA
                          }else if (code == 'SOLAR_CAR') {
                            window.location.href = "https://youtu.be/q8TIqKWq05E";
                            //GAMMA
                          }else if (code == 'ENGSOC') {
                            window.location.href = "https://youtu.be/oV1ybPqpd6A";
                            //KAPPA
                          }else if (code == 'SATELLITE_DESIGN') {
                            window.location.href = "https://youtu.be/1XEgegdNaIk";
                            //LAMBDA
                          }else if (code == 'FROSH_HANDBOOK') {
                            window.location.href = "https://youtu.be/0qs0rxVIhcM";
                            //NI
                          }else if (code == 'RUREADYTODYE') {
                            window.location.href = "https://youtu.be/fs44rh-6QYo";
                            //OMEGA
                          }else if (code == 'S_U_D_S') {
                            window.location.href = "https://youtu.be/LVXMeVUt860";
                            //OMICRON
                          }else if (code == 'EAA_SPORTS') {
                            window.location.href = "https://youtu.be/0hEdnVl4EIw";
                            //PHI
                          }else if (code == 'HARDHAT<3') {
                            window.location.href = "https://youtu.be/bwJF_GpX3dg";
                            //PI
                          }else if (code == 'MR_B&G') {
                            window.location.href = "https://youtu.be/d_E88npNSXI";
                            //PSI
                          }else if (code == 'SKULE_CANNON_TM') {
                            window.location.href = "https://youtu.be/ZnMFUXoqLH0";
                            //RHO
                          }else if (code == 'IRON_RING') {
                            window.location.href = "https://youtu.be/7mNGVdKFgAs";
                            //SIGMA
                          }else if (code == 'LADY_GODIVA_MEMORIAL_BNAD') {
                            window.location.href = "https://youtu.be/X8U6Bau9oEE";
                            //TAU
                          }else if (code == 'S_K_U_L_E') {
                            window.location.href = "https://youtu.be/pwFLCchxCws";
                            //THETA
                          }else if (code == 'ROCK_OF_AJAX') {
                            window.location.href = "https://youtu.be/koOM0Hihn2k";
                            //ZETA
                          }else if (code == 'HARDHATCAFE') {
                            window.location.href = "https://youtu.be/606aSaZC7Bo";
                          }
                      }

                    </script>
<!--
                    <input type="text" name="code" id="code"><br>
                    <br>
                    <div class="action-button">
submit button needs to be formatted
                            <button class="highlight" onclick="checkCode();">
                                <strong> Submit </strong>
                            </button>
                    </div>
                    <br>
!-->
                    <form action="#" id="codeForm">
                      First name: <input type="text" name="code" id="code"><br>
                      <button type="submit">Submit</button><br>
                    </form>
                    <script>
                      //submit the form
                      $( "#codeForm" ).submit(function( event ) {
                        event.preventDefault();
                        var code;
                        code = document.getElementById('code').value;

                        // add all the secret codes below
                        if(code == 'ABCDEF'){
                          window.location.href = "https://www.youtube.com";
                        }
                          //ALPHA
                        if(code == 'GODIVAGODIVAGODIVA'){
                          window.location.href = "https://youtu.be/MyPRIuTDy3M";
                          //BETA
                        }else if (code == 'ULTIMATE_FROSH') {
                          window.location.href = "https://youtu.be/9xYPwxCLRzI";
                          //CHI
                        }else if (code == 'TOIKE_OIKE') {
                          window.location.href = "https://youtu.be/fDEsC68-C0I";
                          //DELTA
                        }else if (code == 'SOLAR_CAR') {
                          window.location.href = "https://youtu.be/q8TIqKWq05E";
                          //GAMMA
                        }else if (code == 'ENGSOC') {
                          window.location.href = "https://youtu.be/oV1ybPqpd6A";
                          //KAPPA
                        }else if (code == 'SATELLITE_DESIGN') {
                          window.location.href = "https://youtu.be/1XEgegdNaIk";
                          //LAMBDA
                        }else if (code == 'FROSH_HANDBOOK') {
                          window.location.href = "https://youtu.be/0qs0rxVIhcM";
                          //NI
                        }else if (code == 'RUREADYTODYE') {
                          window.location.href = "https://youtu.be/fs44rh-6QYo";
                          //OMEGA
                        }else if (code == 'S_U_D_S') {
                          window.location.href = "https://youtu.be/LVXMeVUt860";
                          //OMICRON
                        }else if (code == 'EAA_SPORTS') {
                          window.location.href = "https://youtu.be/0hEdnVl4EIw";
                          //PHI
                        }else if (code == 'HARDHAT<3') {
                          window.location.href = "https://youtu.be/bwJF_GpX3dg";
                          //PI
                        }else if (code == 'MR_B&G') {
                          window.location.href = "https://youtu.be/d_E88npNSXI";
                          //PSI
                        }else if (code == 'SKULE_CANNON_TM') {
                          window.location.href = "https://youtu.be/ZnMFUXoqLH0";
                          //RHO
                        }else if (code == 'IRON_RING') {
                          window.location.href = "https://youtu.be/7mNGVdKFgAs";
                          //SIGMA
                        }else if (code == 'LADY_GODIVA_MEMORIAL_BNAD') {
                          window.location.href = "https://youtu.be/X8U6Bau9oEE";
                          //TAU
                        }else if (code == 'S_K_U_L_E') {
                          window.location.href = "https://youtu.be/pwFLCchxCws";
                          //THETA
                        }else if (code == 'ROCK_OF_AJAX') {
                          window.location.href = "https://youtu.be/koOM0Hihn2k";
                          //ZETA
                        }else if (code == 'HARDHATCAFE') {
                          window.location.href = "https://youtu.be/606aSaZC7Bo";
                        }

                      });
                    </script>


                </div>
            </div>
        </div>
    </section>

</div>

{{view App.IndexSecretVideoView viewName="videoView"}}
