<div class="home">
    <section class="section normal subheader">
        <div class="content row">
            <div class="third col home-logo"></div>
            <div class="third col subheader-text">
                <p>
                  <h2>
                      U of T Engineering's Orientation Week <br>
                      <strong>September 3 - 9 </strong>
                  </h2>
            </div>
            <div class="third col subheader-text">
                <h3><strong>#IsItFroshWeekYet</strong></h3>
            </div>
        </div>
    </section>

    <section class="section highlight small-spacer">
    </section>

    <section class="section home-banner">
        <div class="mini-content row">
            <div class="full col">
                <div class="box normal home-message">
                    <h1>Enter Code Here and <strong> CLICK </strong> to continue:</h1><br>
                    <script>
                      function checkCode(){
                          var code;
                          code = document.getElementById('code').value;

                          // add all the secret codes below
                          if(code == 'ABCDEF'){
                            window.location.href = "https://www.youtube.com";
                          }
                            //ALPHA
                          if(code == 'GODIVAGODIVAGODIVA'){
                            window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
                            //BETA
                          }else if (code == 'ULTIMATE_FROSH') {
                            window.location.href = "https://www.youtube.com/watch?v=kJQP7kiw5Fk";
                            //CHI
                          }else if (code == 'TOIKE_OIKE') {
                            window.location.href = "https://www.youtube.com/watch?v=4zLfCnGVeL4";
                            //DELTA
                          }else if (code == 'SOLAR_CAR') {
                            window.location.href = "https://www.youtube.com/watch?v=pRpeEdMmmQ0";
                            //GAMMA
                          }else if (code == 'ENGSOC') {
                            window.location.href = "https://www.youtube.com/watch?v=IcrbM1l_BoI";
                            //KAPPA
                          }else if (code == 'SATELLITE_DESIGN') {
                            window.location.href = "https://www.youtube.com/watch?v=v--IqqusnNQ";
                            //LAMBDA
                          }else if (code == 'FROSH_HANDBOOK') {
                            window.location.href = "https://www.youtube.com/watch?v=JGwWNGJdvx8";
                            //NI
                          }else if (code == 'RUREADYTODYE') {
                            window.location.href = "https://www.youtube.com/watch?v=RgKAFK5djSk";
                            //OMEGA
                          }else if (code == 'S_U_D_S') {
                            window.location.href = "https://www.youtube.com/watch?v=_Yhyp-_hX2s";
                            //OMICRON
                          }else if (code == 'EAA_SPORTS') {
                            window.location.href = "https://www.youtube.com/watch?v=hLQl3WQQoQ0";
                            //PHI
                          }else if (code == 'HARDHAT<3') {
                            window.location.href = "https://www.youtube.com/watch?v=vx2u5uUu3DE";
                            //PI
                          }else if (code == 'MR_B&G') {
                            window.location.href = "https://www.youtube.com/watch?v=FTQbiNvZqaY";
                            //PSI
                          }else if (code == 'SKULE_CANNON_TM') {
                            window.location.href = "https://www.youtube.com/watch?v=djV11Xbc914";
                            //RHO
                          }else if (code == 'IRON_RING') {
                            window.location.href = "https://www.youtube.com/watch?v=I_izvAbhExY";
                            //SIGMA
                          }else if (code == 'LADY_GODIVA_MEMORIAL_BNAD') {
                            window.location.href = "https://www.youtube.com/watch?v=SYnVYJDxu2Q";
                            //TAU
                          }else if (code == 'S_K_U_L_E') {
                            window.location.href = "https://www.youtube.com/watch?v=btPJPFnesV4";
                            //THETA
                          }else if (code == 'ROCK_OF_AJAX') {
                            window.location.href = "https://www.youtube.com/watch?v=-tJYN-eG1zk";
                            //ZETA
                          }else if (code == 'HARDHATCAFE') {
                            window.location.href = "https://www.youtube.com/watch?v=bx1Bh8ZvH84";
                          }
                      }

                    </script>

                    <input type="text" name="code" id="code"><br>
                    <br>
                    <div class="action-button">
                        <!-- submit button needs to be formatted !-->
                            <button class="highlight" onclick="checkCode();">
                                <strong> Submit </strong>
                            </button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>

</div>

{{view App.IndexSecretVideoView viewName="videoView"}}
