/*
 *= require normalize-rails
 *= require grid
 *= require ladda-themeless
 *= require jquery.placeholder

 *= require_self
 *= require core
 *= require header
 *= require footer

 *= require home
 *= require admin
 *= require registration
 *= require faq
 *= require schedule
 *= require none
 *= require leedurhhf
 *= require volunteer
 */

@import 'font-awesome';
@import 'compass';
@import 'library';

.col {
    @include screen-small {
        padding: { left: 0.5em; right: 0.5em; };
    }
    @include screen-medium {
        padding: { left: 1em; right: 1em; };
    }
    @include screen-large {
        padding: { left: 1em; right: 1em; };
    }
}
