/*
 *= require normalize-rails
 *= require grid
 *= require ladda-themeless
 *= require_self
 *= require_tree .
 */

@import 'compass';
@import 'partials/variables';
@import 'partials/mixins';

body {
    background-color: #F1F1F1;
    margin: 0;

    color: #222222;
    font: {
        family: 'proxima-nova-alt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        variant: normal;
        weight: 400;
        size: 62.5%;
    }
    @include anti-aliasing;
}

select {
    border-width: 0;
    border-radius: 0;
    @include box-shadow(0 1px 2px #9F9F9F);
    @include box-sizing(border-box);
    &:focus {
        @include box-shadow(0 1px 2px #34003E);
    }

    color: #222222;
    height: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    outline: none;

    @include screen-small {
        float: none;
        margin-left: 0;
        width: 100%;
    }
    @include screen-medium {
        float: none;
        margin-left: 0;
        width: 100%;
    }
    @include screen-large {
        float: right;
        margin-left: 0.5em;
        width: 52.5%;
    }

    -webkit-appearance: none;
    @include anti-aliasing;
}

.container {
    margin: 0 auto;
    width: 100%;

    @include screen-small {
        font-size: 1.4em;
    }
    @include screen-medium {
        font-size: 1.6em;
    }
    @include screen-large {
        font-size: 1.8em;
    }
}

.content {
    margin: 0 auto;
    max-width: 60em;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

h2 {
    font: {
        weight: 400;
        size: 1.4em;
    }
}

h3 {
    font-weight: 400;
    size: 1.3em;
}

.small {
    font-size: 0.9em;
}

.end {
    margin-top: 1em;
}

a {
    color: #34003E;
    text-decoration: none;

    &:hover {
        color: #828282;
    }
}

ul {
    padding-left: 1.5em;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        padding: 0 1.5em; // TODO(johnliu): test mobile.
        @include screen-small {
            display: list-item;
        }
        @include screen-medium {
            display: inline-block;
        }
        @include screen-large {
            display: inline-block;
        }

    }
}

.right-align {
    text-align: right;
}

.col {
    @include screen-small {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

button {
    background-color: #606060;
    border: 0;
    color: #FFFFFF;
    padding: 0.5em 2em;
    @include border-radius(0.4em);

    &:hover {
        background-color: #808080;
    }

    &.go {
        background-color: #4F7A27;

        &:hover {
            background-color: #6EA634;
        }

        &:disabled {
            background-color: #606060;

            &:hover {
                background-color: #606060;
            }
        }
    }
}

input[type=submit], button[type=submit] {
    @extend button;
    @extend button.go;
}

@include input-text {
    border-width: 0;
    border-radius: 0;
    @include box-shadow(0 1px 2px #9F9F9F);

    height: 1.25em;
    padding: 0.2em;
    outline: none;

    -webkit-appearance: none;

    &:focus {
        @include box-shadow(0 1px 2px #34003E);
    }
}

textarea {
    border-width: 0;
    border-radius: 0;
    @include box-shadow(0 1px 2px #9F9F9F);

    width: 100%;
    height: 8em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 0.2em;
    resize: none;
    outline: none;

    -webkit-appearance: none;

    &:focus {
        @include box-shadow(0 1px 2px #34003E);
    }
}

.error {
    @include input-text {
        @include box-shadow(0 1px 2px #FF0000);

        &:focus {
            @include box-shadow(0 1px 2px #34003E);
        }
    }

    textarea {
        @include box-shadow(0 1px 2px #FF0000);

        &:focus {
            @include box-shadow(0 1px 2px #34003E);
        }
    }
}

.clear {
    clear: both;
}

input[type=radio], input[type=checkbox] {
    display: none;
}

input[type=radio] + label {
    @include border-radius(100%);
}

input[type=checkbox] + label {
    color: #FFFFFF;
}

input[type=radio] + label, input[type=checkbox] + label {
    margin: 0 0.125em;

    cursor: pointer;
    border: 0;
    border-style: solid;
    border-width: 4px;
    border-color: #FFFFFF;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    @include box-shadow(0 1px 2px #9F9F9F);
    @include box-sizing(border-box);

    &:hover {
        background-color: #9F9F9F;
    }
}

input[type=radio]:checked + label, input[type=checkbox]:checked + label {
    color: #FFFFFF;
    background-color: #34003E;
}
