/* Orientation Core Styles
 *
 * This is the core stylesheet for the orientation website.
 * See usage notes under each section.
 *
 * Dependencies:
 * - normalize
 * - compass
 * - mourner/dead-simple-grid
 *
 * author:  John Liu
 * version: 0.0.1
 */

@import 'compass';
@import 'library';

// Global Variables

$font-weight-normal: 400;
$font-weight-bold: 700;
$box-shadow-args: 0 1px 2px;

$logo: 'logo.png';

$white: #FFFFFF;
$white-alt: #DFDFDF;
$white-translucent: transparentize($white, 0.1);
$gray: #808080;
$gray-alt: #606060;
$black: #222222;
$black-alt: #444444;
$purple: #34003E;
$red: #FF0000;
$green: #4F7A27;
$green-alt: #6EA634;

/* Mixins
 * ------
 */

@mixin font-on-light {
    @include anti-aliasing-light;
    color: $black;
}

@mixin font-on-dark {
    @include anti-aliasing-dark;
    color: $white;
}

@mixin link-on-light {
    color: $purple;

    &:hover {
        color: $gray;
    };
}

@mixin link-on-dark {
    color: $green;

    &:hover {
        color: $green-alt;
    };
}

@mixin heading-style($size: '', $weight: '', $invert: false) {
    margin-bottom: 0.25em;

    @if $size != '' {
        font-size: $size;
    }

    @if $weight != '' {
        font-weight: $weight;
    }

    @if $invert {
        color: $white-alt;
    } @else {
        color: $black-alt;
    }

    &.light {
        color: $white-alt;
    }
    &.dark {
        color: $black-alt;
    }
}

@mixin headings-invert($invert-color) {
    h1 { @include heading-style($invert: $invert-color); }
    h2 { @include heading-style($invert: $invert-color); }
    h3 { @include heading-style($invert: $invert-color); }
    h4 { @include heading-style($invert: $invert-color); }
    h5 { @include heading-style($invert: $invert-color); }
    h6 { @include heading-style($invert: $invert-color); }
}

@mixin box {
    padding: 1em;

    @include screen-small   { margin: { top: 1em; bottom: 1em; }; };
    @include screen-medium  { margin: { top: 1em; bottom: 1em; }; };
    @include screen-large   { margin: { top: 1em; bottom: 1em; }; };
}

@mixin rounded-box {
    @include border-radius(0.35em);
    @include box;
}

@mixin slide($height) {
    @include transition(all 0.5s);
    overflow: hidden;

    &.showing {
        max-height: $height;
        opacity: 1;
    }

    &.hidden {
        margin-bottom: 0;
        max-height: 0;
        opacity: 0;
    }
}

@mixin input-style {
    @include anti-aliasing-light;
    @include transition(all 0.3s);
    @include box-shadow($box-shadow-args $gray);
    @include box-sizing(border-box);

    -webkit-appearance: none;
    outline: none;

    border: { width: 0; radius: 0; };
    width: 100%;
    color: $black;
    padding: { left: 0.5em; right: 0.5em; top: 0.4em; bottom: 0.4em; };

    &:focus {
        @include box-shadow($box-shadow-args $purple);
    };
}

@mixin input-style-error {
    @include box-shadow($box-shadow-args $red);

    &:focus {
        @include box-shadow($box-shadow-args $purple);
    };
}

@mixin button-style($text-color: $white,
                    $background-color: $gray,
                    $hover-text-color: $white,
                    $hover-background-color: $gray-alt,
                    $disabled-text-color: $white,
                    $disabled-background-color: $gray) {
    @include border-radius(0.4em);
    @include transition(all 0.3s);

    border: 0;
    padding: { left: 2em; right: 2em; top: 0.5em; bottom: 0.5em; };

    background-color: $background-color;
    color: $text-color;

    -webkit-user-select: none;

    &:hover, &:focus {
        &:not(:disabled) {
            outline: none;
            background-color: $hover-background-color;
            color: $hover-text-color;
        }
    };

    &:disabled {
        background-color: $disabled-background-color;
        color: $disabled-text-color;
    };
}


/* Core Components:
 * ---------------
 * - Surround the HTML body with <div class="container">
 * - Surround content with <div class="content"> to apply maximum width setting.
 */

body {
    @include font-on-light;

    margin: 0;
    background-color: $white-alt;
    font: {
        family: 'proxima-nova-alt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        weight: $font-weight-normal;
        size: 62.5%;
    };

    @include print { background-color: $white; };
}

.container {
    margin: 0 auto;
    width: 100%;

    @include screen-small   { font-size: 1.4em; };
    @include screen-medium  { font-size: 1.4em; };
    @include screen-large   { font-size: 1.8em; };
}

.content {
    margin: 0 auto;
    max-width: 60em;

    @include screen-small   { margin: { top: 0em; bottom: 0em; }; }
    @include screen-medium  { margin: { top: 0em; bottom: 0em; }; }
    @include screen-large   { margin: { top: 0em; bottom: 0em; }; }
    @include print          { max-width: 6in; }
}

.box-clear {
    @include box;
}

.box-normal {
    @include rounded-box;
    @include box-shadow($box-shadow-args $white-alt);
    @include font-on-light;
    background-color: $white;
}

.box-highlight {
    @include rounded-box;
    @include box-shadow($box-shadow-args $white-alt);
    @include headings-invert(true);
    @include font-on-dark;

    p {
        @include font-on-dark;
    }

    a {
        @include link-on-dark;
    }

    background-color: $purple;
}

.section-normal {
    @include stylistic-section;
}

.section-alt {
    @include stylistic-section($white);
}

.section-highlight {
    @include stylistic-section($purple);
    @include headings-invert(true);
    @include font-on-dark;

    p {
        @include font-on-dark;
    }

    a {
        @include link-on-dark;
    }
}

.side {
    @include screen-small   { width: 100%; };
    @include screen-medium  { width: 40%; };
    @include screen-large   { width: 35%; };

    &.float-right {
        @include screen-small   { float: none; };
        @include screen-medium  { float: right; };
        @include screen-large   { float: right; };
    }
}

.main {
    @include screen-small   { width: 100%; };
    @include screen-medium  { width: 60%; };
    @include screen-large   { width: 65%; };
}

.half {
    @include screen-small   { width: 100%; };
    @include screen-medium  { width: 50%; };
    @include screen-large   { width: 50%; };
}

.full {
    width: 100%;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

hr {
    border: 0;
    color: $black-alt;
    background-color: $black-alt;
    height: 2px;
}


/* Typography
 * ----------
 */

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

h1 { @include heading-style(2.2em, $font-weight-normal, false); }
h2 { @include heading-style(1.8em, $font-weight-normal, false); }
h3 { @include heading-style(1.4em, $font-weight-normal, false); }
h4 { @include heading-style(1.0em, $font-weight-normal, false); }
h5 { @include heading-style(1.0em, $font-weight-normal, false); }
h6 { @include heading-style(1.0em, $font-weight-normal, false); }

.subtitle {
    display: block;
    position: relative;
    height: 1em;
    top: -0.2em;

    font-size: 0.4em;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
}

p {
    @include font-on-light;
    margin-bottom: 1em;
}

a {
    @include link-on-light;
    text-decoration: none;
    -webkit-user-select: none;
}

ul, ol {
    padding-left: 1.5em;

    li {
        list-style-position: outside;
    }

    &.horizontal {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: { top: 0; right: 1.5em; bottom: 0; left: 1.5em; };
            @include screen-small   { display: list-item; };
            @include screen-medium  { display: inline-block; };
            @include screen-large   { display: inline-block; };
        }
    }
}

.small {
    font-size: 0.8em;
}

.red {
    color: $red;
}

.green {
    color: $green;
}


/* Input Components
 * ----------------
 * - To use error styles, the parent element of the input elements must have an error class.
 */

@include input-text {
    @include input-style;
}

textarea {
    @include input-style;

    height: 8em;
    width: 100%;
    resize: none;
}

select {
    @include input-style;
    height: 2em;
}

input[type=radio] + label {
    @include border-radius(100%);
}

input[type=radio], input[type=checkbox] {
    position: absolute;
    left: -99999px; // This is a hack to enable tab indexing.

    & + label {
        @include box-shadow($box-shadow-args $gray);
        @include box-sizing(border-box);

        color: $white;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        background-color: $white;
        border: {
            width: 0.35em;
            style: solid;
            color: $white;
        }
        margin: { top: 0; left: 0.125em; bottom: 0; right: 0.125em; };
        width: 1.5em;
        height: 1.5em;

        &:hover, &:focus {
            @include box-shadow($box-shadow-args $purple);
            background-color: $gray-alt;
            border-color: $white-alt;
        }

        & + label {
            vertical-align: middle;
        }
    }

    &:focus + label {
        @include box-shadow($box-shadow-args $purple);
        background-color: $gray-alt;
        border-color: $white-alt;
    }

    &:checked + label {
        color: $white;
        background-color: $purple;
        border-color: $white;
    }
}

.error {
    @include input-text {
        @include input-style-error;
    };

    textarea, select {
        @include input-style-error;
    };
}

input[type=button], button {
    @include button-style;
}

input[type=submit], button[type=submit], button.go {
    @include button-style($white, $green, $white, $green-alt);
}