/* Orientation FAQ Styles
 *
 * This is the style sheet for the FAQ page.
 *
 * author:  Jason Ng
 * version: 0.0.1
 */

@import 'compass';
@import 'library';
@import 'core';

@mixin faq_input_style {
    @include screen-small {
        margin-left: 0;
        width: 99%;
    }
    @include screen-medium {
        margin-left: 0;
        width: 99%;
    }
    @include screen-large {
        margin-left: 0.5em;
        width: 67.5%;
    }

}

.faq {
    margin: { top: 1em; bottom: 1em };
}

.faq_dropbox_wrapper {
    @include slide(40em);
    width: 100%;
    .input {
        margin: { top: 0.5em; bottom: 0.5em; left: 0.1em };

        .input {
            margin: { top: 0; bottom: 0; };
        }
    }
    @include input-text {
        @include faq_input_style;
    }
    select {
        @include faq_input_style;
    }
    label {
        width: 30%;
        float: left;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        margin-left: 0.1em;
    }
    textarea {
        margin-left: 0.1em;
        margin-right: 0.1em;
        width:99%;
    }
    .submit_wrapper {
        margin-bottom: 0.5em;
        text-align: right;
        .message {
            float: left;
            display:none;
        }
        button {
            background-color: $green;
        }
    }
}

.finish_asking_wrapper {
    @include slide(15em);
    text-align: center;
}
