/* Orientation Footer Styles
 *
 * This is the stylesheet for the footer view element.
 *
 * author:  John Liu
 * version: 0.0.1
 */

@import 'library';

.footer {
    @include screen-small {
        margin: 1.5em auto;
    }
    @include screen-medium {
        margin: 2.0em auto;
    }
    @include screen-large {
        margin: 2.5em auto;
    }
}
