/* Orientation Footer Styles
 *
 * This is the stylesheet for the footer view element.
 *
 * author:  John Liu
 * version: 0.0.1
 */

@import 'library';

.footer {
    @include screen-small {
        padding: 1.5em;
    }
    @include screen-medium {
        padding: 2.0em;
    }
    @include screen-large {
        padding: 2.5em;
    }
    @include print {
        display: none;
    }

  background: #fff;
  color: #666;
  
}
