/* Orientation Header Styles
 *
 * This is the stylesheet for the header view element.
 *
 * author:  John Liu
 * version: 0.0.1
 */

@import 'compass';
@import 'library';

.header, .header-spacer {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1.0em;

    @include screen-small   { text-align: left; }
    @include screen-medium  { text-align: center; }
    @include screen-large   { text-align: center; }

    @include box-shadow(0 0 2px #DFDFDF);
    @include ms-box-shadow(1, 90, #DFDFDF); // TODO(johnliu): This needs testing.

    .selected {
        font-weight: bold;
    }
}

.header-spacer {
    visibility: hidden;
    @include screen-small {
        display: none;
    }
    @include screen-medium {
        display: inherit;
    }
    @include screen-large {
        display: inherit;
    }
}

.header-wrapper {
    width: 100%;
    top: 0;
    z-index: 10;
    @include screen-small {
        position: static;
    }
    @include screen-medium {
        position: fixed;
    }
    @include screen-large {
        position: fixed;
    }
}
