/* Registration Styles */

@import 'partials/variables';
@import 'partials/mixins';

.registration-sidebar {
    @include screen-small {
        width: 100%;
    }
    @include screen-medium {
        width: 35%;
    }
    @include screen-large {
        width: 30%;
    }

    .logo {
        background: {
            image: image-url('logo.png');
            size: contain; // TODO(johnliu): Browser test.
            repeat: no-repeat;
        }
        height: image-height('logo.png');
        width: 100%;
    }
}

.registration-main {
    @include screen-small {
        width: 100%;
    }
    @include screen-medium {
        width: 65%;
    }
    @include screen-large {
        width: 70%;
    }

    ul.registration-items {
        list-style-type: none;
        padding: 0;

        li {
            margin: 0.5em;

            a {
                color: #000000;
                text-decoration: none;

                &:hover {
                    color: #34003E;
                    text-decoration: underline;
                }
            }
        }
    }
}

.registration-box {
    @include border-radius(0.35em);

    // TODO(johnliu): test mobile.
    margin: 1em;
    padding: 1em;
}

.registration-clear {
    margin: 0.5em;
    padding: 1em;
}

.registration-normal {
    @extend .registration-box;
    background-color: #FFFFFF;
    @include box-shadow(0 1px 2px #DFDFDF); // TODO(johnliu): Add ms version.
}

.registration-info {
    @extend .registration-box;
    background-color: #34003E;

    @include anti-aliasing(0, 0, 0);
    color: #FFFFFF;
}

// TODO(johnliu): clean up this css.
.registration-step {
    @extend .registration-normal;

    padding-left: 2.25em;
    padding-right: 2.25em;
    position: relative;

    h2 {
        font-weight: 800;
        margin-bottom: 0.75em;
    }

    h3 {
        font-weight: 800;
    }

    .subsection {
        margin-bottom: 1em;

        & > div {
            margin: 0.5em;

            @include screen-small {
                margin-right: 0;
            }
            @include screen-medium {
                margin-right: 0;
            }
            @include screen-large {
                margin-right: 3.5%;
            }
        }
    }

    .subsection {
        textarea {
            @include box-sizing(border-box);
        }
    }

    .subsection.text {
        & > div {
            line-height: 2em;
            @include screen-small {
                text-align: left;
            }
            @include screen-medium {
                text-align: left;
            }
            @include screen-large {
                text-align: right;
            }
        }

        .input {
            @include input-text {
                @include box-sizing(border-box);
                height: 2em;
                padding-left: 0.5em;
                padding-right: 0.5em;

                @include screen-small {
                    float: none;
                    margin-left: 0;
                    width: 100%;
                }
                @include screen-medium {
                    float: none;
                    margin-left: 0;
                    width: 100%;
                }
                @include screen-large {
                    float: right;
                    margin-left: 0.5em;
                    width: 52.5%;
                }
            }
        }

        .text-inline {
            @include screen-small  { text-align: left; }
            @include screen-medium { text-align: left; }
            @include screen-large  { text-align: right; }

            .input-inline-group {
                float: right;
                overflow: none;

                @include screen-small  { margin-left: 0;     width: 100%; }
                @include screen-medium { margin-left: 0;     width: 100%; }
                @include screen-large  { margin-left: 0.5em; width: 52.5%; }
            }

            @include input-text {
                text-align: center;

                &.phone-area {
                    float: left;
                    margin-left: 0;
                    width: 30%;
                }
                &.phone-start {
                    float: left;
                    margin-left: 2.5%;
                    width: 30%;
                }
                &.phone-end {
                    float: right;
                    margin-left: 2.5%;
                    width: 35%;
                }

                &.cc-number {
                    text-align: left;
                    float: left;
                    margin-left: 0;
                    width: 75%;
                }
                &.cc-cvc {
                    float: right;
                    margin-left: 2.5%;
                    width: 22.5%;
                }

                &.cc-month {
                    float: left;
                    margin-left: 0;
                    width: 48%;
                }

                &.cc-year {
                    float: right;
                    margin-left: 4%;
                    width: 48%;
                }
            }
        }
    }

    .radio {
        span.input {
            margin-right: 1.5em;
            vertical-align: middle;
        }

        .choices {
            display: inline-block;
            margin-left: 0;
            margin-right: 0;

            .input {
                margin-right: 0.25em;
                display: inline-block;
                height: auto;

                label {
                    line-height: 1.8em;
                    vertical-align: middle;
                }
            }
        }
    }

    .checkboxes {
        label {
            line-height: 1.2em;
            vertical-align: middle;
        }
    }
}

.registration-step-num {
    background-color: #34003E;
    @include border-radius(50%);
    height: 2.5em;
    width: 2.5em;

    // Center the number.
    line-height: 2.5em;
    position: absolute;
    text-align: center;

    top: 0.5em;
    left: -1.25em;

    @include anti-aliasing(0, 0, 0);
    color: #FFFFFF;
}

