/* Orientation Registration Styles
 *
 * This is the style sheet for registration related pages.
 *
 * author: John Liu
 * version: 0.0.1
 */

@import 'compass';
@import 'library';
@import 'core';


/* Mixins
 * ------
 */

@mixin registration-input-floats {
    @include screen-small   { float: none; };
    @include screen-medium  { float: none; };
    @include screen-large   { float: right; };
}

@mixin registration-input-style {
    @include screen-small {
        margin-left: 0;
        width: 100%;
    };
    @include screen-medium {
        margin-left: 0;
        width: 100%;
    };
    @include screen-large {
        margin-left: 0.5em;
        width: 52.5%;
    };
}

@mixin registration-printable {
    .main {
        width: 65%;

        &.total {
            text-align: right;
        }

        @include print {
            width: 60%;
            float: left;
        }
    }

    .side {
        width: 35%;
    }

    .half {
        @include print {
            float: left;
        }
    }

    .registration-logo {
        height: image-height($logo) * 0.5;
        background-position: top center;
        margin-bottom: 1em;
        @include print { display: block; };
    }
}


/* Core
 * ----
 */

.registration {
    @include transition(all 0.5s);

    margin: { top: 1em; bottom: 1em; };

    h1 {
        margin-bottom: 0.5em;
    }

    @include input-text {
        @include registration-input-floats;
        @include registration-input-style;
    }

    select {
        @include registration-input-floats;
        @include registration-input-style;
    }

    section .col {
        padding: { left: 1em; right: 1em; };
    }

    .info {
        @include slide(10em);
    }
}


/* Packages
 * --------
 */

.registration-item {
    @include transition(all 0.3s);

    padding: 0.5em;

    &:hover {
        cursor: pointer;
        background-color: $white-alt;
    }
}


/* Form
 * ----
 */

.registration-form-group {
    margin: 0.5em;

    .input {
        margin: { top: 0.5em; bottom: 0.5em; };

        .input {
            margin: { top: 0; bottom: 0; };
        }
    }

    section.subsection {
        margin: { bottom: 1.5em; };
    }

    &.aligned {
        .input {
            @include screen-small {
                text-align: left;
            };
            @include screen-medium {
                text-align: left;
            };
            @include screen-large {
                text-align: right;
            };
        }

        .inline {
            @include registration-input-style;
            float: right;
            overflow: visible;

            @include input-text {
                text-align: center;

                &.cc-number {
                    text-align: left;
                    float: left;
                    margin-left: 0;
                    width: 75%;
                }
                &.cc-cvc {
                    float: right;
                    margin-left: 2.5%;
                    width: 22.5%;
                }

                &.cc-month {
                    float: left;
                    margin-left: 0;
                    width: 48.75%;
                }

                &.cc-year {
                    float: right;
                    margin-left: 2.5%;
                    width: 48.75%;
                }
            }
        }

        @include screen-small {
            line-height: normal;
        };
        @include screen-medium {
            line-height: normal;
        };
        @include screen-large {
            line-height: 2em;
        };
    }
}

.registration-form-step {
    position: relative;

    h2 {
        @include screen-small {
            text-align: center;
            margin-top: 0.25em;
            margin-left: 0;
        };
        @include screen-medium {
            text-align: left;
            margin-top: 0;
            margin-left: 0.5em;
        };
        @include screen-large {
            text-align: left;
            margin-top: 0;
            margin-left: 0.5em;
        };
    }

    section {
        margin-bottom: 1.5em;
    }

    .number {
        @include box-shadow($box-shadow-args $white-alt);
        @include headings-invert(true);
        @include font-on-dark;
        @include border-radius(50%);

        font-weight: $font-weight-bold;
        background-color: $purple;
        width: 2.25em;
        height: 2.25em;
        line-height: 2.25em;
        text-align: center;

        @include screen-small {
            position: absolute;
            top: -1em;
            left: -1.125em;
            margin-left: 50%;
        };
        @include screen-medium {
            position: absolute;
            top: 1em;
            left: -1.125em;
            margin-left: 0;
        };
        @include screen-large {
            position: absolute;
            top: 1em;
            left: -1.125em;
            margin-left: 0;
        };
    }
}

.registration-payment {
    @include slide(20em);

    // Hack to fix margin's from not collapsing.
    section:first-child {
        margin-top: 0;
    }
}

.registration-bursary {
    @include slide(40em);

    // Hack to fix margin's from not collapsing.
    section:first-child {
        margin-top: 0;
    }
}

.registration-error {
    @include slide(20em);
    width: 100%;
}


/* Receipt & Ticket
 * ----------------
 */

.registration-receipt {
    @include registration-printable;

    .side {
        text-align: center;

        @include print {
            width: 30%;
            float: right;
        }
    }
}

.registration-print-hidden {
    @include print { display: none; };
}

// TODO(johnliu): This code needs to be refactored, along with the page.
.registration-ticket {
    @include registration-printable;

    h1 {
        overflow-x: hidden;
    }

    .half {
        width: 50%;
        @include print { width: 45%; };
    }

    .main {
        width: 70%;
    }

    .side {
        width: 30%;
    }


    .label {
        font-size: 0.5em;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    .registration-engsoc {
        text-align: center;
    }

    .registration-ticket-details {
        @include screen-small   { text-align: center; };
        @include screen-medium  { text-align: left; };
        @include screen-large   { text-align: left; };
        @include print          { text-align: left; };

        .third {
            @include screen-small   { width: 33.33%; };
            @include screen-medium  { width: 50%; };
            @include screen-large   { width: 50%; };
            @include print          { width: 50%; };
        }
    }

    .qr-code-optional {
        .main {
            @include screen-small   { width: 100%; };
            @include screen-medium  { width: 70%; };
            @include screen-large   { width: 70%; };
            @include print          { width: 68%; };
        }

        .full {
            @include screen-small   { width: 100%; };
            @include screen-medium  { width: 100%; };
            @include screen-large   { width: 100%; };
            @include print          { width: 90%; };
        }
    }

    .qr-hidden {
        @include screen-small   { display: block; };
        @include screen-medium  { display: none; };
        @include screen-large   { display: none; };
        @include print          { display: none; };
    }

    .qr {
        padding-left: 0 !important;
        text-align: center;

        h1 {
            overflow: hidden;
        }

        img {
            margin-top: 1em;
            max-width: 100%;
        }

        @include screen-small {
            display: none;
            width: 100%;
        };
        @include screen-medium {
            display: block;
            width: 30%;
        };
        @include screen-large {
            display: block;
            width: 30%;
        };
        @include print {
            float: right;
            display: block;
            width: 25%;
        };
    }
}

.registration-print-button {
    @include screen-small   { display: none; };
    @include screen-medium  { display: inline; };
    @include screen-large   { display: inline; };
    @include print          { display: none; };
}

.registration-receipt-items {
    margin: { top: 1em; bottom: 2em; };
}


/* Logo
 * ----
 */

.registration-logo {
    background: {
        image: image-url($logo);
        size: contain;
        repeat: no-repeat;
        position: center;
    };

    width: 100%;
    height: image-height($logo);

    @include print { display: none; };
}
