<div dir="ltr">
  Good morning everyone!<br>
  <div class="gmail_quote">
    <div dir="ltr">
      <div><br></div>
      <div>Are you excited to begin one of the most amazing weeks you&#39;ll ever have?</div>
      <div><br></div>
      <div>Well, you should, because Skule&trade; F!rosh Week 1T4 begins <b>tomorrow morning (Monday, September 1)!</b> Yay!!!</div>
      <div><br></div>
      <div>We&#39;d like to convey to you some important information because we want you to fully enjoy your F!rosh Week experience.</div>
      <div><br></div>
      <div>
        <b>
          1. F!rosh Week Check-in<br>
          In front of <a href="http://map.utoronto.ca/building/010A" target="_blank">Convocation Hall</a>
          from 7:30-8:45am
        </b>
        <br>
      </div>

      <blockquote style="margin:0px 0px 0px 40px;border:none;padding:0px">
        <div><br></div>
        <div>
          Check-in will take place in front of Convocation Hall, at 31 King&#39;s College Circle.
          If you&#39;re not sure where to go, just go to the crowd of screaming, cheering Engineers!
        </div>

        <div><br></div>
        <div>
          As stated in the Orientation Schedule, you will need to check in with us first thing in 
          the morning, so that we can place you in your F!rosh Group and give you your awesome
          F!rosh Kit. <b>Please arrive no later than 8:45am;</b> with your help, we can begin our
          events for the day on-time. <b>We recommend that you arrive sometime at 8am</b>, because
          then you&#39;ll have some time to get to know your F!rosh Group.
        </div>

        <div><br></div>
      </blockquote>
      <blockquote style="margin:0px 0px 0px 40px;border:none;padding:0px">
        <div>
          The first day of F!rosh Week occurs on Labour Day. You should double-check public 
          transit schedules if you intend to get here using public transit.
          <a href="http://www.ttc.ca/Routes/General_Information/Service_Details.jsp" target="_blank">TTC</a>
          service will begin at approximately 6am, while <a href="http://www.gotransit.com/public/en/updates/schedulechanges.aspx" target="_blank">GO Transit</a>
          will operate according to its Sunday schedules.
        </div>
      </blockquote>
      <blockquote style="margin:0px 0px 0px 40px;border:none;padding:0px">
        <div><br></div>
      </blockquote>
      <b>
        2. Your F!rosh Week checklist<br>
        (Spoilers-it involves lots of screaming, cheering, and purple)
      </b>
      <div><br></div>
      <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
        <div>
          <div>
            <div>
              Many of you have received a F!rosh Handbook <b></b>with much of the following 
              information. Still, we&#39;d like to recap it here.
            </div>
          </div>
        </div>
      </blockquote>
      <div>
        <ul>
          <li>
            <b>Dress appropriately.</b>Wear comfortable clothing and footwear, because you will 
            be walking a lot! Also, we know you want to make a good first impression, but bring 
            clothes you don&#39;t mind getting wet, dirty, or purple. By the way, we will be 
            providing you with two awesome F!rosh Week T-shirts to wear on the first two days!
          </li>
          <li>
            <b>Don&#39;t bother bringing a backpack.</b> Your F!rosh Kit will include a bag!
          </li>
          <li>
            <b>Be careful with your electronics.</b> Keep a plastic freezer bag handy for storing
            your phone and other electronics if and when you dye yourself purple.
          </li>
          <li>
            <b>Have fun!</b>
          </li>
        </ul>

        <div>
          <b>3. Some more things to keep in mind:</b>
        </div>
        <ul>
          <li>
            <b>#fweek:</b> F!rosh Week 1T4&#39;s official hashtag!
            Our goal is to make this a trending topic throughout the week on Twitter! 
            Also, follow us at <a href="https://twitter.com/FroshWeek" target="_blank">@FroshWeek</a>.
          </li>

          <li>
            <b>F!rosh Nite Tickets:</b> F!rosh Nite is our awesome clubbing event taking place 
            Wednesday night! This year, your tickets are right in your F!rosh Kit. Double-check 
            whether you have them; if you don&#39;t, we will be happy to issue replacements. Note:
            Your F!rosh Nite tickets are usable only by F!rosh Week 1T4 attendees and cannot be 
            transferred.
            <br>
          </li>
          <li>
            <b>Hart House Farm attendees:</b> You will be contacted soon by the coordinators for 
            the Hart House Farm camping trip. <i>It is strongly recommended for you to bring a 
              tent and sleeping bag!</i>
          </li>
        </ul>
        </div>
        <div>
          <div><br></div>
          <div>
            On behalf of the Orientation Committee and everyone in the University of Toronto 
            Engineering community, we&#39;re all excited to finally see you! In the past four 
            months, we have been meticulously planning this event because next week, it&#39;s
            <i>all about you and the Class of 1T7</i>! This is your big week, and we hope you 
            enjoy it to its fullest.
          </div>
          <div><br></div>
          <div>Fweek-ly,</div>
          <div><br clear="all">
            <div>
              <div dir="ltr">
                <b>The Orientation 1T4 Executive Team</b>
              </div>
              <div dir="ltr">
                <a href="http://orientation.skule.ca" style="font-size:x-small" target="_blank">orientation.skule.ca</a>
                <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
