<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>F!rosh Week 1T3</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "modernizr" %>
  <meta name="description" content="F!rosh Week 1T3">
  <meta name="viewport" content="width=device-width"> <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript" src="//use.typekit.net/llg4dti.js"></script>
  <%= javascript_include_tag "application" %>
</body>
</html>
